.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

@media screen and (max-device-width: 956px) and (orientation: landscape) {
  .footer {
    position: relative;
  }
}
