.logo {
  margin-top: 2vw;
  filter: invert(100%);
  max-width: 30%;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media screen and (max-width: 800px) {
  .logo {
    margin: auto;
    margin-top: 200px;
    max-width: 50%;
  }
}

@media screen and (max-device-width: 928px) and (orientation: landscape) {
  .logo {
    margin-top: 0vw;
  }
}
