.subtitle {
  font-size: 2.5vw;
  margin-right: auto;
  margin-bottom: 1.3em;
  margin-left: auto;
  letter-spacing: 0.025em;
  min-height: 50px;
}
@media screen and (max-width: 800px) {
  .subtitle {
    font-size: 5vw;
    margin-right: auto;
    margin-bottom: 1.3em;
    margin-left: auto;
    letter-spacing: 0.025em;
  }
}
@media screen and (max-device-width: 926px) and (orientation: landscape) {
  .subtitle {
    font-size: 2vw;
  }
}
